body{
    background-image: url(https://klike.net/uploads/posts/2019-11/1574605225_22.jpg);
    background-attachment: fixed;
    background-color: white;
    margin:0;
    }
    nav a{
      font-weight: bold;
      font-size: 150%;
       margin: 23px;
    }
    a{
    
      text-decoration: none;
      color: #000000;
    }
    a:hover{
      color: #18c02e;
    }
    header{
    background: radial-gradient(at top, #a0a5a5, #49649e);
    }
    
    .banner{
      max-width: 960px;
      margin: 0 auto;
      padding: 30px;
    }
    
    .container{
      max-width: 960px;
      margin: 0 auto;
    }
    
    #logo{
      float:left;
        width:100px;
         height:100px;
    }
    nav{
    background:linear-gradient(45deg, #eecfba, #c5dde8)

    }
    .notwork{
     padding-right: 100px;
    }
    
    .spisok{
    background:linear-gradient(45deg, #eecfba, #c5dde8)
    }
    #kol1{
        background-color:brown;
    }
    .nechet
    {
      background-color:rgb(95, 112, 95);
    }
    .chet{
      background-color:rgb(78, 35, 35);
    
    }
    .tabl{
    background:linear-gradient(45deg, #eecfba, #c5dde8)
    }
    table{
       background-color:rgb(77, 75, 94);
        margin: 0 auto;
         margin-top:20px;
          padding:10px;
    }
    .forma{
    background:linear-gradient(45deg, #eecfba, #c5dde8)
    }
    footer{
      width:100%;
      height: 50px;
      background:linear-gradient(45deg, #5ea4b9, #037a56)
    }
    